<h3>Create @ViewBag.EntityType</h3>

<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("Create", ViewBag.EntityType as string, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-large btn-primary">Create</button>
                    <a class="btn btn-large btn-default" href="@Url.Action("Index")">Cancel</a>
                </div>
                
            </div>
        }
    </div>
</div>


@section scripts {
    @{Html.RenderPartial("EditorJs");}
}