<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Products", "Index", "Products", new { @area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Orders", "Index", "Orders", new { @area = "Admin" }, null)</li>
</ul>