
@model ProjectSample.Infrastructure.DataAccess.List.Models.ListModel<ProjectSample.Areas.Basket.Models.BasketItemModel>

<h2>Basket</h2>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    @Html.DisplayFor(x => x.Items)
</table>

<div class="row">
    <div class="col-md-4 col-md-offset-8">
    <a class="btn btn-primary" href="@Url.Action("Index", "Checkout", new {area = "Basket"})"><i class="glyphicon glyphicon-bitcoin"></i> Checkout</a>
    </div>
</div>