<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li><p class="navbar-text">Welcome, @User.Identity.Name</p></li>
        <li>@Html.ActionLink("Log out", "Index", "Logout", new {area = "Account"}, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Log in", "Index", "Login", new {area = "Account"}, null)</li>
        <li>@Html.ActionLink("Register", "Index", "Register", new {area = "Account"}, null)</li>
    }
</ul>