<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home", new {area = "Home"}, null)</li>
    <li>@Html.ActionLink("Catalog", "Index", "Home", new { area = "Catalog" }, null)</li>
</ul>