
@model ProjectSample.Infrastructure.DataAccess.List.Models.ListModel<ProjectSample.Areas.Basket.Models.BasketItemModel>

<ul class="nav navbar-nav navbar-right">
    <li><a class="btn" href="@Url.Action("Index", "Home", new {area = "Basket"})"><i class="glyphicon glyphicon-shopping-cart"></i> @Model.Total</a></li>
</ul>

