
@model ProjectSample.Core.Infrastructure.DataAccess.List.Models.ListModel<ProjectSample.Areas.Basket.Models.BasketItemModel>

<a class="btn btn-default" href="@Url.Action("Index", "Home", new {area = "Basket"})"><i class="glyphicon glyphicon-shopping-cart"></i> @Model.Total</a>