@model ProjectSample.Areas.Admin.Models.ProductViewModel

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(x => x.Name, new { @class = "col-sm-2 col-lg-2 control-label" })
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(x => x.Name)
    </div>
</div>
