@model ProjectSample.Areas.Admin.Models.Products.ProductFields
    
<div class="form-group">
    @Html.LabelFor(x => x.Name, new { @class = "col-sm-2 col-lg-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="col-md-10 col-md-offset-2">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
</div>
